* {
  margin: 0;
  padding: 0;
  font-family: "Aeonik Pro", arial, sans-serif;
}

header {
  background-color: rgba(10, 10, 10, 0.9);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 48px;
}

.top-left {
  font-weight: 600;
}

.top-right div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  font-weight: 500;
}

main {
  background-color: #19191c;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
  font-weight: 500;
  border: 1px solid rgba(128, 128, 128, 0.502);
}

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  font-weight: 500;
}

.nav-left img {
  /* height: 80px; */
  width: 120px;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.get-started {
  background-color: rgb(253, 54, 110);
  border: 1px solid rgb(253, 54, 110);
  padding: 10px 12px;
  color: white;
  border-radius: 12px;
  font-size: 16px;
  font-family: "Aeonik Pro", arial, sans-serif;
}

.pink{
  color: #fd366e;
}

.gray{
  color: #acacaf;
  
}



.main {
  min-width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main1 {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.announcing-init{
  display: flex;
  gap: 15px;
  background-color: #371c27;
  border-radius: 20px;
  color: #fff6f9;
  border: 3px solid #7d203e;
  width: 200px;
  justify-content: space-around;
  margin-top: 60px;
}

.front-text{
  display: flex;
  margin-left: 50px;
  height: 50vh;
  align-items: center;
  gap: 30px;
}

h1{
  font-size: 5rem;
}

.front-text p{
  color: #acacaf;
  font-size: 25px;
  width: 40vw;
  margin-left: 50px;
}

.text-button{
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.first-image{
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-top: 40px;
}

#text{
  font-weight: 500px;
  align-items: center;
  position: absolute;
  left: 500px;
}

#products{
  background-color: #fd366e;
  position: absolute;
  left: 500px;
}

#yourBackend{
  position: absolute;
  left: 300px;
}

#slider{
  height: 500px;
  width: 50%;
}

.pinkButton{
  background-color: #fd366e;
  height: 50px;
  width: 200px;
  box-shadow: #fd366e;
}

#PRIVACY & SECURITY_{
  position: absolute;
  left: 100px;
}

#boxes{
  display: flex;
  
}

#box{
  width: 800px;
  height: 200px;
  border: solid black 1px;
}

.text{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: #e4e4e7;

}

.first-line,.second-line{
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.first-line{
  margin-top: 50px;
  margin-bottom: 50px;
}

.first-image img{
  border-top: 20px;
  border: 7px solid #2f2f31;
  border-radius: 20px;
}

.yourBackend{
  margin-top: 200px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yourbackend h2{
  font-size: 2rem;
}

.cards{
width: 200px;
height: 200px;
background-color: antiquewhite;
}

.tweetCards{
  width: 200px;
  height: 200px;
  background-color: antiquewhite;

}

.below{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
 .cards {
      background-color: #fff;
      color: #fff;
      padding: 20px;
      margin: 10px;
      border-radius: 5px;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.5s, transform 0.5s;
    }

    #one{
      width: 100%;
      height: 1000px;
      background-color: #19191c;
    }

    #textright{
      margin-left: 500px;
    }

    #two{
      background-color: #fd366e;
      height: 1700pxpx;
      width: 100%;
    }

    #twotext{
      margin-left: 200px;
    }

    #belowbtn{
      width: 200px;
      height: 50px;
      color: #fff;
      background-color: transparent;
    }
  

    #rightcard{
      background-color: transparent;
      color: #fff6f9;
      width: 500px;
      height: 700px;
      margin-right: 200px;
    }


    #three{
      background-color: #371c27;
      width: 100%;
      height: 100px;

    }
